* {
  box-sizing: border-box;
}

:root {
  --primary-color: #7264d6;
  --primary-text-color: #212832;
  --desc-color: #696d76;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: #fff;
}

a {
  text-decoration: none;
  line-height: 1.56;
  color: #212832;
}

[data-aos] {
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.btn {
  display: inline-block;
  text-align: center;
  line-height: var(--height);
  --height: 58px;
  height: var(--height);
  min-width: 149px;
  border-radius: 8px;
  background: #212832;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  width: 1170px;
  /* khi co màn hình lại luôn giữ khoảng trống mỗi bên là 24px */
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.section-title {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: #696d77;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
  margin-left: 30px;
}

.section-title::before {
  position: absolute;
  left: -30px;
  content: "";
  width: 18px;
  height: 2px;
  background: #696d77;
}

.section-heading {
  margin-top: 12px;
  color: #212832;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 116.667% */
}

.section-desc {
  color: #696d76;
  font-size: 1.6rem;
  line-height: 1.67; /* 166.667% */
}

.section-note {
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71; /* 171.429% */
}

@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
.floating_y {
  animation: floaty 3.5s ease-in-out infinite;
  will-change: transform; /* giúp animation mượt hơn */
}
@keyframes floatx {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-12px);
  }
  100% {
    transform: translateX(0);
  }
}

.floating_x {
  animation: floatx 3.5s ease-in-out infinite;
  will-change: transform; /* giúp animation mượt hơn */
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* full màn hình */
  z-index: 1000;
  /* background: #fffaf5; */
}

.header-fixed {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 28px 0;
  background-color: #fff;
}
.header__navbar {
  margin-left: 70px;
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;
}

.header__nav-link {
  position: relative;
  color: #696d76;
}

.header__nav-link::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  display: none;
  content: "";
  /* width: 100%; */
  height: 1.5px;
  background-color: #7264d6;
}

.header__nav-link:hover::after,
.header__nav-link.active::after {
  display: inline-block;
}
.header__nav-link.active,
.header__nav-link:hover {
  color: #212832;
  font-weight: 600;
}

.navbar__list:hover .header__nav-link:not(:hover) {
  color: #696d76;
}

.navbar__list:hover .header__nav-link.active:not(:hover)::after {
  display: none;
}

.header__action {
  margin-left: auto;
}

.header__action--link {
  background-color: #fff;
  color: #212832;
  --height: 52px;
  max-width: 113px;
}

.header__action--link.active,
.header__action--link:hover {
  background: #212832;
  color: #fff;
}

/* Khi đang hover trong bộ action,
   nhưng active KHÔNG được hover → trả về bình thường */
.header__action:hover .header__action--link.active:not(:hover) {
  background-color: #fff;
  color: #212832;
}

/* Hero */
.hero {
  padding: 170px 0 76px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  width: 46.15%;
}

/* Hero Content */

.hero-heading {
  font-size: 6rem;
  line-height: 1.17; /* 116.667% */
}

.hero-heading__strong {
  color: #7264d6;
}

.hero-desc {
  margin-top: 20px;
  font-size: 1.8rem;
}

.register-form {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 73px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
  padding: 8px;
}

.register-form__input {
  color: #696d76;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
  padding: 0 12px;
  border: none;
  outline: none;
  border-radius: inherit;
}

.register-form__input::placeholder {
  color: #696d76;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.register-form__submit {
  color: #fff;
  background: #7264d6;
}

.hero-note {
  margin-top: 20px;
}

/* Hero Media */

.hero__media {
  width: 40.17%;
  display: flex;
  justify-content: space-between;
}

.hero__media--phone {
  position: relative;
  width: 62.97%;
}

.hero__media--img {
  width: 100%;
  object-fit: cover;
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hero__media-deposit {
  position: absolute;
  top: 113px;
  left: -100px;
  display: inline-flex;
  align-items: center;
  padding: 16px 10px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
  font-size: 1.4rem;
  line-height: 1; /* 100% */
}

.hero__deposit-text {
  margin-left: 8px;
  color: #31456a;
  font-weight: 600;
}

.hero__deposit-number {
  margin-left: 19px;
  color: #4ab5e3;
  font-style: normal;
  font-weight: 400;
}

.hero__media-secured {
  position: absolute;
  bottom: 62px;
  right: -74px;
  padding: 22px 16px;
  border-radius: 14px;
  background: #439f90;
  display: flex;
  align-items: center;
}

.hero__secured-content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-left: 11px;
  color: #fff;
}

.hero__secured-number {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.hero__secured-text {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}

.hero__media--interest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27.66%;
  height: 130px;
  margin-top: 127px;
  /* aspect-ratio: 1/1; */
  border-radius: 50%;
  background-color: #da6464;
  color: #fff;
}

.hero__interest-number {
  font-size: 4.4rem;
  font-weight: 600;
}

.hero__interest-text {
  font-size: 1.6rem;
  font-weight: 400;
}

/* How it work */

.products,
.features {
  padding: 80px 0;
}

.product__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__media {
  width: 40.17%;
  position: relative;
}
.product__media::after {
  content: url(../img/work_02.svg);
  position: absolute;
  bottom: 0;
  display: block;
}

.product__media--img {
  position: relative;
  z-index: 1;
  width: 97.02%;
  object-fit: cover;
  margin: 0 auto;
}

.product__media--icon {
  position: absolute;
  top: 76px;
  right: 55px;
  z-index: 1;
}

.product__media--card {
  position: absolute;
  bottom: 96px;
  right: -100px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  padding-left: 30px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
  z-index: 1;
}

.product__media--card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #696d76;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
}

.product__media--card-content span:first-child {
  color: #212832;
  font-size: 1.4rem;
  font-weight: 600;
}

.product__content {
  width: 40.17%;
}

.product-heading {
  margin: 12px 0 70px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.product__content--list {
  list-style: decimal;
}

.product__content--item {
  color: #212832;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.46; /* 145.455% */
  margin-top: 30px;
}

.product__content--item-desc {
  color: #696d76;
  line-height: 1.75; /* 175% */
  margin-top: 16px;
  font-size: 1.4rem;
  font-weight: 400;
}

/* Features */

.feature__inner {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 160px;
}

.feature__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* feature content */
.feature__content {
  width: 40.17%;
}

.feature-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.25;
}

.feature-desc {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
}

.feature__content--list {
  margin-top: 28px;
}

.feature__content--item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 18px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

.feature__content--item::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #7264d6;
}

.feature-cta {
  margin-top: 38px;
}

/* feature media */
.feature__media {
  position: relative;
  width: 48.7%;
}

.feature__media--img {
  width: 84.56%;
  object-fit: cover;
}

.feature__send-money {
  position: absolute;
  top: -48px;
  right: 0;
  display: inline-flex;
  align-items: center;
  padding: 23px 13px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 14px 38px rgba(0, 0, 0, 0.07);
}

.feature__send-money--content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 14px;
  font-family: Inter;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  color: #696d76;
}

.feature__send-money--content span:first-child {
  color: #212832;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1;
}

.feature__send-money--content .number {
  font-weight: 400;
  font-size: 1.6rem;
}

.feature__send-money div:nth-child(2) {
  margin-right: 67px;
}

.feature__income {
  position: absolute;
  right: 0;
  bottom: -55px;
  padding: 15px;
  padding-right: 52px;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: #439f90;
}

.feature__income--icon {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background: #fff;
}

.feature__income span:nth-of-type(1) {
  margin-top: 14px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.feature__income span:nth-of-type(2) {
  margin-top: 6px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.feature__media--wrap {
  position: relative;
  width: 82.45%;
}

.feature__media--wrap::before {
  position: absolute;
  bottom: 0;
  content: url(../img/feature_background.png);
  display: block;
}

.feature__media--img-below {
  width: 87.87%;
  object-fit: cover;
  /* display: block; */
  margin: 0 auto;
}

.feature__payment-method {
  /* color: #fff; */
  position: absolute;
  right: 26px;
  bottom: 56px;
  padding: 28px;
  background-color: #fff;
  box-shadow: 0 44px 48px rgba(0, 0, 0, 0.1);
}

.payment__cash {
  position: absolute;
  right: 0;
  bottom: 222px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #7264d6;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.feature__payment-title {
  display: inline-block;
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.payment__list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  justify-content: space-between;
}

.payment__item-link {
  display: inline-flex;
  width: 63px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #f2f2fa;
}

.feedback {
  padding: 80px 0;
}

.feedback__header {
  text-align: center;
}

.feedback-desc {
  margin: 18px auto 0;
  width: 37.18%;
  line-height: 1.75; /* 175% */
}

.feedback__content {
  overflow: hidden; /*ẩn phần tràn */
  width: 100%;
  margin: 70px auto 0;
}

.feedback__list {
  display: flex;
  gap: 30px;
  transition: transform 0.6s ease;
}

.feedback__item {
  flex: 0 0 calc(50% - 15px);
  background: #fff;
  /* box-shadow: 0 22px 54px rgba(0, 0, 0, 0.07); */
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.feedback__item.active {
  opacity: 1;
}

.feedback__item-desc {
  position: relative;
  color: #696d76;
  padding: 42px 28px;
  border: 1px solid #dfe2e8;
  border-radius: 8px;
  text-align: center;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.55; /* 154.545% */
  background: inherit;
}

.feedback__item-desc:hover {
  cursor: pointer;
}

.feedback__item-desc.active {
  border-color: #fff;
  box-shadow: 0 22px 54px rgba(0, 0, 0, 0.07);
  opacity: 1;
}

.feedback__item-desc.active::before {
  border-color: #fff;
}
.feedback__item-desc::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30px; /* độ dài phần mũi nhọn nhô ra */
  transform: translateX(-50%) rotate(45deg);
  width: 60px;
  height: 60px;
  background: #fff;
  border-right: 1px solid #dfe2e8;
  border-bottom: 1px solid #dfe2e8;
}

.feedback__item--people {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback__people-avatar {
  margin-top: 66px;
}

.feedback__people-img {
  width: 104px;
  height: 104px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #4ab5e3;
}

.feedback__people-name {
  margin-top: 20px;
  color: #070052;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.feedback__people-career {
  margin-top: 2px;
  color: #696d76;
  font-size: 1.8rem;

  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.feedback__list .feedback__item:nth-of-type(2) .feedback__people-img {
  background-color: #439f90;
}

.feedback__list .feedback__item:nth-of-type(3) .feedback__people-img {
  background-color: #da6464;
}

.feedback__list .feedback__item:nth-of-type(4) .feedback__people-img {
  background-color: #feef65;
}

.feedback__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 38px;
}

.feedback__footer__item {
  width: 22px;
  height: 6px;
  border-radius: 2px;
  border: 1px solid #9b9fab;
}

.feedback__footer__item.active {
  background: #7264d6;
}

/* Blog */

.blog {
  padding: 80px 0;
}

.blog_above {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__above--content {
  width: 37.17%;
}

.blog-heading {
  margin-top: 6px;
  color: #212832;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.blog-desc {
  margin-top: 18px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.blog__grid {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.blog__item {
  padding: 28px;
  display: flex;
  align-items: center;
  gap: 22px;
  border-radius: 12px;
  border: 1px solid #dfe2e8;
  background: #fff;
}

.blog__item:hover {
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.07);
  border: none;
}

.blog__item-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
}

.blog__item--content-time {
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
}

.blog__item--content-desc {
  margin-top: 10px;
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.blog__item--content-link {
  margin-top: 20px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.63; /* 162.5% */
}

.blog__item:hover .blog__item--content-link {
  color: #7264d6;
}

/* App  */
.app {
  padding: 80px 0 100px;
}

.app-wrap {
  position: relative;
  border-radius: 24px;
  background: #7264d6;
}

.app__content {
  text-align: center;
  padding: 100px 0;
}

.app-title {
  color: #fff;
}
.app-title::before {
  background-color: #fff;
}
.app-heading {
  margin-top: 12px;
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.app-desc {
  width: 37.17%;
  margin: 0 auto;
  margin-top: 18px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.app__dowload {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

.app__download--link {
  border-radius: 6px;
  background: #fff;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.app__download--link:hover {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15); /* đậm hơn, rõ hơn */
  transform: translateY(-3px); /* hơi nâng lên đẹp hơn */
}

.app-decor {
  position: absolute;
}

.app-wrap img.app-decor:nth-of-type(1) {
  top: 49px;
  left: 112px;
  animation: rotate180 2s alternate infinite;
}
.app-wrap img.app-decor:nth-of-type(2) {
  top: 49px;
  right: 112px;
  animation: twinkle 2s infinite ease-in-out;
}
.app-wrap img.app-decor:nth-of-type(3) {
  bottom: 49px;
  left: 166px;
  animation: scale 1s alternate infinite;
}
.app-wrap img.app-decor:nth-of-type(4) {
  bottom: 49px;
  right: 166px;
  animation: rotate 2s infinite;
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate180 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
    transform: scale(0.8);
  }

  50% {
    opacity: 1;
    transform: scale(1.3);
  }
}

/* Footer */
.footer {
  padding-top: 100px;
  background: #fafbff;
}

.footer-row {
  display: flex;
  column-gap: 163px;
}

.footer-heading {
  margin-bottom: 24px;
  color: #0a142f;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-item_link {
  /* margin-top: 24px; */
  color: #6a6e78;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  opacity: 0.75;
}

.list-item_link:hover {
  opacity: 1;
  text-decoration: underline;
}

.footer-desc {
  margin-bottom: 48px;
  color: #6a6e78;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  opacity: 0.75;
  width: 371px;
}

.subscribe-form {
  display: flex;
  gap: 20px;
}

.subscribe-form__input {
  width: 270px;
  height: 52px;
  padding: 12px 24px 12px 12px;
  border-radius: 6px;
  border: 1px solid #8e919a;
  color: #8e919a;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.subscribe-form__input::placeholder {
  color: #8e919a;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.subscribe__submit {
  --height: 52px;
  min-width: 113px;
  border-radius: 6px;
  background: #7264d6;
}

.footer__e-contact {
  margin-top: 54px;
  display: flex;
  gap: 100px;
}

.footer__e-contact a {
  color: #6a6e78;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  opacity: 0.7;
  margin-bottom: 28px;
}

.footer-copyright {
  padding: 28px 0;
  background: #7264d6;
}

.copyright {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
