* {
  box-sizing: border-box;
}

:root {
  --primary-color: #7264d6;
  --primary-text-color: #212832;
  --desc-color: #696d76;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: #fff;
}

a {
  text-decoration: none;
  line-height: 1.56;
  color: #212832;
}

[data-aos] {
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.btn {
  display: inline-block;
  text-align: center;
  line-height: var(--height);
  --height: 58px;
  height: var(--height);
  min-width: 149px;
  border-radius: 8px;
  background: #212832;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  width: 1170px;
  /* khi co màn hình lại luôn giữ khoảng trống mỗi bên là 24px */
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.section-title {
  position: relative;
  display: flex;
  align-items: center;
  color: #696d77;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
  margin-left: 30px;
}

.section-title::before {
  position: absolute;
  left: -30px;
  content: "";
  width: 18px;
  height: 2px;
  background: #696d77;
}

.section-heading {
  margin-top: 12px;
  color: #212832;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 116.667% */
}

.section-desc {
  color: #696d76;
  font-size: 1.6rem;
  line-height: 1.67; /* 166.667% */
}

.section-note {
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71; /* 171.429% */
}

@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
.floating_y {
  animation: floaty 3.5s ease-in-out infinite;
  will-change: transform; /* giúp animation mượt hơn */
}
@keyframes floatx {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-12px);
  }
  100% {
    transform: translateX(0);
  }
}

.floating_x {
  animation: floatx 3.5s ease-in-out infinite;
  will-change: transform; /* giúp animation mượt hơn */
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* full màn hình */
  z-index: 1000;
  /* background: #fffaf5; */
}

.header-fixed {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 28px 0;
  background-color: #fff;
}
.header__navbar {
  margin-left: 70px;
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;
}

.header__nav-link {
  position: relative;
  color: #696d76;
}

.header__nav-link::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  display: none;
  content: "";
  /* width: 100%; */
  height: 1.5px;
  background-color: #7264d6;
}

.header__nav-link:hover::after,
.header__nav-link.active::after {
  display: inline-block;
}
.header__nav-link.active,
.header__nav-link:hover {
  color: #212832;
  font-weight: 600;
}

.navbar__list:hover .header__nav-link:not(:hover) {
  color: #696d76;
}

.navbar__list:hover .header__nav-link.active:not(:hover)::after {
  display: none;
}

.header__action {
  margin-left: auto;
}

.header__action--link {
  background-color: #fff;
  color: #212832;
  --height: 52px;
  max-width: 113px;
}

.header__action--link.active,
.header__action--link:hover {
  background: #212832;
  color: #fff;
}

/* Khi đang hover trong bộ action,
   nhưng active KHÔNG được hover → trả về bình thường */
.header__action:hover .header__action--link.active:not(:hover) {
  background-color: #fff;
  color: #212832;
}

/* Hero */
.hero {
  padding: 170px 0 76px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  width: 46.15%;
}

/* Hero Content */

.hero-heading {
  font-size: 6rem;
  line-height: 1.17; /* 116.667% */
}

.hero-heading__strong {
  color: #7264d6;
}

.hero-desc {
  margin-top: 20px;
  font-size: 1.8rem;
}

.subscribe-form {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 73px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
  padding: 8px;
}

.subscribe-form__input {
  color: #696d76;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
  padding: 0 12px;
  border: none;
  outline: none;
  border-radius: inherit;
}

.subscribe-form__input::placeholder {
  color: #696d76;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.subscribe-form__submit {
  color: #fff;
  background: #7264d6;
}

.hero-note {
  margin-top: 20px;
}

/* Hero Media */

.hero__media {
  width: 40.17%;
  display: flex;
  justify-content: space-between;
}

.hero__media--phone {
  position: relative;
  width: 62.97%;
}

.hero__media--img {
  width: 100%;
  object-fit: cover;
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hero__media-deposit {
  position: absolute;
  top: 113px;
  left: -100px;
  display: inline-flex;
  align-items: center;
  padding: 16px 10px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
  font-size: 1.4rem;
  line-height: 1; /* 100% */
}

.hero__deposit-text {
  margin-left: 8px;
  color: #31456a;
  font-weight: 600;
}

.hero__deposit-number {
  margin-left: 19px;
  color: #4ab5e3;
  font-style: normal;
  font-weight: 400;
}

.hero__media-secured {
  position: absolute;
  bottom: 62px;
  right: -74px;
  padding: 22px 16px;
  border-radius: 14px;
  background: #439f90;
  display: flex;
  align-items: center;
}

.hero__secured-content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-left: 11px;
  color: #fff;
}

.hero__secured-number {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.hero__secured-text {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}

.hero__media--interest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27.66%;
  height: 130px;
  margin-top: 127px;
  /* aspect-ratio: 1/1; */
  border-radius: 50%;
  background-color: #da6464;
  color: #fff;
}

.hero__interest-number {
  font-size: 4.4rem;
  font-weight: 600;
}

.hero__interest-text {
  font-size: 1.6rem;
  font-weight: 400;
}

/* How it work */

.products,
.features {
  padding: 80px 0;
}

.product__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__media {
  width: 40.17%;
  position: relative;
}
.product__media::after {
  content: url(../img/work_02.svg);
  position: absolute;
  bottom: 0;
  display: block;
}

.product__media--img {
  position: relative;
  z-index: 1;
  width: 97.02%;
  object-fit: cover;
  margin: 0 auto;
}

.product__media--icon {
  position: absolute;
  top: 76px;
  right: 55px;
  z-index: 1;
}

.product__media--card {
  position: absolute;
  bottom: 96px;
  right: -100px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  padding-left: 30px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
  z-index: 1;
}

.product__media--card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #696d76;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
}

.product__media--card-content span:first-child {
  color: #212832;
  font-size: 1.4rem;
  font-weight: 600;
}

.product__content {
  width: 40.17%;
}

.product-heading {
  margin: 12px 0 70px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.product__content--list {
  list-style: decimal;
}

.product__content--item {
  color: #212832;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.46; /* 145.455% */
  margin-top: 30px;
}

.product__content--item-desc {
  color: #696d76;
  line-height: 1.75; /* 175% */
  margin-top: 16px;
  font-size: 1.4rem;
  font-weight: 400;
}

/* Features */

.feature__inner {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 160px;
}

.feature__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* feature content */
.feature__content {
  width: 40.17%;
}

.feature-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.25;
}

.feature-desc {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
}

.feature__content--list {
  margin-top: 28px;
}

.feature__content--item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 18px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

.feature__content--item::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #7264d6;
}

.feature-cta {
  margin-top: 38px;
}

/* feature media */
.feature__media {
  width: 48.7%;
}

.feature__media--img {
  width: 84.56%;
  object-fit: cover;
}

.feature__send-money {
  display: inline-flex;
  align-items: center;
  padding: 23px 13px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 14px 38px rgba(0, 0, 0, 0.07);
}

.feature__send-money--content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 14px;
  font-family: Inter;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  color: #696d76;
}

.feature__send-money--content span:first-child {
  color: #212832;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1;
}

.feature__send-money--content .number {
  font-weight: 400;
  font-size: 1.6rem;
}

.feature__send-money div:nth-child(2) {
  margin-right: 67px;
}
